div.menu-pane {
    position: absolute;
    width: 30vw;
    background-color: var(--navy-blue);
    transform: translateX(-105vw);
    transform-origin: (0, 0);
    transition: 0.6s ease-in-out;
  }

.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider{
    justify-content: center;
}