.main-velocidades-container .backgroundImg-plex{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url('../assets/img/multimedia.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.android-icon{
    background-image: url('../assets/icons/android.png');
 }
 .ios-icon{
    background-image: url('../assets/icons/ios.png');
 }
 .game-controller-icon{
    background-image: url('../assets/icons/game-controller.png');
}
.plex-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../assets/img/zwa-plex.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-color: rgba(15, 76, 117, 0.6);
    background-blend-mode: multiply; 
}

.plex-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--card a{
    text-decoration: none;
    color: var(--black);
}
.product-detail--card a:visited {
    color: var(--black);
  }

  .main-velocidades-container .backgroundImg-android{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url('../assets/img/android.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-velocidades-container .backgroundImg-ios{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url('../assets/img/ios.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-velocidades-container .backgroundImg-pc{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url('../assets/img/pc.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-velocidades-container .backgroundImg-console{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url('../assets/img/console.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dot-icon{
    background-image: url('../assets/icons/arrow.png');
}
.product-detail--card{
    height: auto;
}
.product-card-list .icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.plex-app-icon{
    background-image: url('../assets/img/plex-logo.png');
}
.plex-menu-app-icon{
    display: inline-block;
    width: 300px;
    height: 600px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/img/menu_plex.jpeg');
}
.plex-menu-app-ios{
    display: inline-block;
    width: 300px;
    height: 600px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/img/ios-menu.jpg');
}
.plex-menu-app-pc{
    display: inline-block;
    width: 300px;
    height: 600px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/img/pc-menu.png');

